---
---

/* Project custom colors */
$body-bg-color: #f5f5f5;
$body-text-color: #ffffff;
$link-color: #10a37f;
$sidebar-bg-color: #1e1e1e;
$sidebar-text-color: #ffffff;
$header-bg-color: #2a2a2a;
$footer-bg-color: #2a2a2a;

@import "minimal-mistakes";
